{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<body>


        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">


                <div class="flex justify-between relative md:mb-4 mb-3">
                    <div class="flex-1">
                        <h2 class="text-2xl font-semibold"> PTA </h2>
                        <nav class="responsive-nav border-b md:m-0 -mx-4">
                            <ul>
                                <li class="active"><a href="{% url 'core:groups'%}" class="lg:px-2">   live </a></li>

                            </ul>
                        </nav>
                    </div>

    </div>

    </div>



    <!-- open chat box -->


</body>
{% endblock content %}
